@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', 'monospaced', 'lucida calligraphy';
    min-height: 100vh;
}

.basicContact{
    position: fixed;
    width: 100%;
    background-color: darkgoldenrod;
    color: #000;
    min-height: 60px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-right: 40px;
}

.callNumber, .emailInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}
.call, .email{
    color: #000;
}

.same{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

/* HEADER STYLING*/
header{
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 30px;
    position: relative;
}

.logoName{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.5em;
}

.companyName{
    font-size: 1.1em;
}

.borne{
    color: darkgoldenrod;
}

.hamburger{
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 35px;
    display: none;
}

.mainList{
    display: flex;
    list-style: none;
    width: 100%;
}

.lists{
    height: 100%;
    padding: 10px;
}

.listLink::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    background-color: darkgoldenrod;
    border-radius: 8px;
    top: 25px;
    transition: all 0.8s ease-out;
}

.listLink:hover::before{
    width: 100%;
    left: 100%;
}

.listLink{
    color: #000;
    text-decoration: none;
    font-size: 1.4em;
    width: max-content;
    position: relative;
}

.listLink.active{
    color: darkgoldenrod;
}

.listLink:hover{
    color: darkgoldenrod;
}

.socialIcons{
    font-size: 30px;
    cursor: pointer;
    color: darkgoldenrod;
    padding-right: 50px;
}

main{
    margin-top: 100px;
    width: 100%;
}

#firstSection{
    background-image: url('../Images/ContactPageImg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.overLay1{
    position: absolute;
    top: 360px;
    color: #fff;
    left: 60px;
}


/* MAIN STYLING */
main{
    width: 100%;
}

.mainSubject{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.safety{
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.securityPicture{
    width: 50%;
    margin: 20PX;
}

.imageSecurity img{
    width: 100%;
}

.imageSecurity{
    border-radius: 20px;
    position: relative;
}

.sP1{
    position: absolute;
    top: 0;
    right: 30px;
    background-color: #fff;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
}

.sP1 span{
    font-size: 3em;
    color: rgba(145, 109, 17, 0.434);
}

.sP1 .year1{
    font-size: 1.2em;
}

.sP2{
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgb(230, 180, 54);
    color: #fff;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
    font-size: 1.9em;
}

.newInfo{
    padding-top: 60px;
}

.fonts{
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    padding: 2px;
    background-color: darkgoldenrod;
}

#thirdSection{
    width: 100%;
}

.advantagesChoosing{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advan{
    font-size: 3em;
    margin-bottom: 15px;
}

.box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;

}

.box2{
     background-color: #000;
   color: darkgoldenrod;
   border-radius: 10px;
   padding: 20px;
}

.box2 h2{
    font-size: 1.6em;
    font-weight: bold;
}

#sixthSection{
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.pictures{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
}

.picture img{
    width: 90%;
    border-radius: 20px;
}

.picture{
    position: relative;
}

.pOnText{
    position: absolute;
    bottom: 30px;
    left: 50px;
    right: 50px;
    background-color: darkgoldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    color: #fff;
}

/* FOOTER STYLING */
#footer{
    background-color: #000;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainFooter{
    display: flex;
    width: 100%;
    color: darkgoldenrod;
}

.footerOne{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    padding-top: 40px;
}

.call1{
    font-size: 1.9em;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
    background-color: darkgoldenrod;
}

.divOne{
    text-align: center;
    margin-bottom: 5em;
}

.footerCall{
    padding: 40px;
    color: #fff;
}

.footerSame{
    font-size: 2em;
    margin-top: 30px;
}

.footerTwo{
    width: 70%;
    color: #fff;
    padding: 40px;
}

.moreInfo2{
    display: flex;
    width: 100%;
    gap: 60px;
    color: #adadad;
    margin-top: 20px;
}
.foot{
    color:#fff;
}
.Quick{
    display: flex;
    flex-direction: column;
}

.quickLinks{
    color: #adadad;
    font-weight: bold;
    text-decoration: none;
}

.otherInfo{
    width: 30%;
}

.otherInfo h1{
    font-size: 2.3em;
}

.otherInfo .p1{
    margin-bottom: 30px;
}

.details{
    margin-bottom: 20px;
}

.callNumber, .emailInfo{
    margin-bottom: 15px;
}

@media (max-width: 768px){
    .headerContent, #firstSection, .basics{
        display: block;
        text-align: center;
        width: 100%;
    }.logoName, #navBar .mainList .lists .listLink{
        text-align: center;
    }
    #firstSection{
        margin-top: 92px;
        width: 100%;
        height: 1000px;
    }

    .overLay1{
        position: absolute;
        top: 360px;
        color: #fff;
        left: 60px;
    }

    .securityPicture{
        width: 100%;
    }

    .imageSecurity img{
        width: 100%;
    }

    .mainSubject{
        display: block;
        width: 100%;
    }

    .box{
        display: block;
        width: 100%;
    }

    .box2{
        margin-bottom: 10px;
    }

    .pictures{
        display: block;
        width: 100%;
    }

    .mainFooter{
        display: block;
        width: 100%;
    }
    .footerOne, .footerTwo{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .moreInfo2{
        display: block;
        width: 100%;
    }
}