@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', 'monospaced', 'lucida calligraphy';
    min-height: 100vh;
}

.basicContact{
    position: fixed;
    width: 100%;
    background-color: darkgoldenrod;
    color: #000;
    min-height: 60px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-right: 40px;
}

.callNumber, .emailInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}
.call, .email{
    color: #000;
}

.same{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

/* HEADER STYLING*/
header{
    position: fixed;
    top: 55px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.logoName{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.5em;
}

.companyName{
    font-size: 1.1em;
}

.borne{
    color: darkgoldenrod;
}

.hamburger{
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 35px;
    display: none;
}

.mainList{
    display: flex;
    list-style: none;
}

.lists{
    display: inline-flex;
    padding: 10px;
}

.listLink::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    background-color: darkgoldenrod;
    border-radius: 8px;
    top: 25px;
    transition: all 0.8s ease-out;
}

.listLink:hover::before{
    width: 100%;
    left: 100%;
}

.listLink{
    color: #000;
    text-decoration: none;
    font-size: 1.4em;
    width: max-content;
    position: relative;
}

.mainList .listLink.active{
    color: darkgoldenrod;
}

.listLink:hover{
    color: darkgoldenrod;
}

.socialIcons{
    font-size: 30px;
    cursor: pointer;
    color: darkgoldenrod;
    padding-right: 50px;
}

.btnGetStarted{
    cursor: pointer;
    background-color: darkgoldenrod;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 30px;
    transition: all 0.5s ease-in-out;
}

main{
    margin-top: 90px;
    width: 100%;
}

.backGround{
    position: relative;
    width: 100%;
    height:700px; 
    background-color: rgba(0, 0, 0, 0.2);
}

.overLay{
    position: absolute;
    top: 400px;
    color: #fff;
    left: 60px;
    font-size: 3em;
}

.overLay1{
    position: absolute;
    top: 460px;
    color: #fff;
     left: 60px;
     font-size: 1.8em;
}

#secondSection{
    width: 100%;
}

.whatWeOffer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-left: 50px;
}

.noteOffer{
    padding-left: 20px;
}

.noteOffer h3{
    color: darkgoldenrod;
    margin-bottom: 20px;
    font-style: italic;
    margin-left: 40px;
    font-size: 1.8em;
}

.noteOffer h1{
    margin-bottom: 20px;
    font-size: 2em;
}

.noteOffer p{
    margin-bottom: 20px;
    color: #454444;
}

.img1{
    width: 90%;
    padding-bottom: 10px;
}

.imageSecurity{
    width: 55%;
    border-radius: 20px;
    box-shadow: 15px 8px 2px 1px darkgoldenrod;
}

#thirdSection{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 40%;
}

.serve{
    font-size: 2em;
}

.ser{
    font-size: 1.3em;
    color: #928b8b;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.services{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
   color: #fff;
}

.service{
    cursor: pointer;
    margin-top: 20px;
    width: 90%;
    height: 250px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 9px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    background-color: darkgoldenrod;
    color: #fff;

        
    animation: appear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.service:hover{
    transform: scale(1.08);
}

.icons{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2em;
}

.shortNote{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-left: 70px;
}

.text{
    font-size: 2.3em;
}

.seeServices{
    padding: 10px 20px;
    align-self: flex-end;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1em;
    margin-right: 50px;
    transition: all 0.5s ease-in-out;
}

.seeServices:hover{
    background-color: #fff;
    border-radius: 10px;
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
}

/* WORKING PROGRESS */
.firstDiv{
    padding: 30px;
}

.firstDiv h1{
    text-align: center;
    font-size: 2.6em;
    margin-bottom: 15px;
}

.firstDiv h2, .firstDiv h3{
    margin-bottom: 10px;
    font-size: 1.7em;
}

.mainDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.childDivs{
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.childDivs:hover{
    transform: scale(0.95);
}

/* FOOTER STYLING */
#footer{
    background-color: #000;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainFooter{
    display: flex;
    width: 100%;
    color: darkgoldenrod;
}

.footerOne{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    padding-top: 40px;
}

.call1{
    font-size: 1.9em;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    padding: 2px;
    background-color: darkgoldenrod;
}

.divOne{
    text-align: center;
    margin-bottom: 5em;
}

.footerCall{
    padding: 40px;
    color: #fff;
}

.footerSame{
    font-size: 2em;
    margin-top: 30px;
}

.footerTwo{
    width: 70%;
    color: #fff;
    padding: 40px;
}

.moreInfo2{
    display: flex;
    width: 100%;
    gap: 60px;
    color: #adadad;
    margin-top: 20px;
}
.foot{
    color:#fff;
}
.Quick{
    display: flex;
    flex-direction: column;
}

.quickLinks{
    color: #adadad;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px){
    .headerContent, #firstSection, .basics{
        display: block;
        text-align: center;
        width: 100%;
    }.logoName, #navBar .mainList .lists .listLink{
        text-align: center;
    }
    .whatWeOffer{
        display: block;
        width: 100%;
    }
    .overLay, .overLay1{
        left: 20px;
    }
    .noteOffer{
        margin-right: 30px;
    }
     .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mainDiv{
        display: block;
        width: 100%;
    }

    .childDivs{
        margin-bottom: 20px;
    }

    .mainFooter{
        display: block;
        width: 100%;
    }
    .footerOne, .footerTwo{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .moreInfo2{
        display: block;
        width: 100%;
    }
}

@media(max-width:540px){
    .services{
        display: grid;
        grid-template-columns: 1fr;
    }
}
